.cocktails{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

.cocktail-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 400px;
  border: 1px solid gray;
  background-size: cover;
  background-position: center;
  a{
    color: $white;
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.alt-img{
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)),asset-url('cocktail_card');
}

.card{
  height: 450px;
  .card-img{
    width: 220px;
    height: 448px;
    object-fit: cover;
  }
}